<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662915956394-plr9jhdi5btcqc6n6rqk7ckg22cqu66a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662915956394-plr9jhdi5btcqc6n6rqk7ckg22cqu66a</string>
	<key>API_KEY</key>
	<string>AIzaSyDMmyp6KJ0JMSlKBk-P3559tSSBy9SWQtM</string>
	<key>GCM_SENDER_ID</key>
	<string>662915956394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.SwiftBook.FireBaseSwiftUILesson28</string>
	<key>PROJECT_ID</key>
	<string>fir-check-2935d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-check-2935d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662915956394:ios:bcec071a5e7cfecd1a5ad3</string>
</dict>
</plist>